.reviewContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.reviewTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.winkIcon {
  margin-left: 10px;
  color: rgb(242, 239, 42);
  font-size: 25px;
}

.reviewBox {
  width: 90%;
  text-align: center;
}

.profilePic {
  margin-top: 10px;
  margin-left: 25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.userInfoBox {
  display: flex;
  margin-left: 10px;
}

.nameStarBox {
  margin: 25px 10px 10px 0px;
  width: 60%;
}

.name {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.writeReviewBox {
  display: flex;
  padding: 5px 60px 5px 60px;
  width: 250px;
}

.reviewText {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.okBox {
  display: flex;
  justify-content: center;
  padding: 5px 60px 15px 60px;
}

.okButton {
  width: 170px;
  height: 100%;
  background-color: rgb(109, 121, 224);
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
}