.reviewContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.reviewBox {
  width: 90%;
  text-align: center;
}

.profilePic {
  margin: 10px 0px 10px 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.userInfoBox {
  display: flex;
  justify-content: center;
}

.nameStarBox {
  margin-top: 27px;
  margin-left: 10px;
}

.writeReviewBox {
  display: flex;
  justify-content: center;
  padding: 5px 60px 15px 60px;
}

.reviewText {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  text-align: center;
}

.okBox {
  display: flex;
  justify-content: center;
  padding: 5px 60px 15px 60px;
}

.okButton {
  width: 170px;
  height: 100%;
  background-color: rgb(109, 121, 224);
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
}
