.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoTitle {
  /* 성별, 나이대 타이틀*/
  text-align: center;
  margin-bottom: 8px;
}

.genderContainer,
.ageContainer {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center; 
}

.button {
  padding: 8px 16px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 100px;
  background-color: rgb(244, 244, 244);
  margin: 8px 0px 15px;
  box-shadow: rgba(17, 17, 26, 0.2) 0px 2px 4px;
  font-size: 15px;
}

.genderDropdown{
  position: absolute;
  top: calc(-100% - 5px); /* 선택 버튼 위에 위치하도록 수정 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬을 위한 보정 */
  z-index: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: center;
}

.ageDropdown {
  position: absolute;
  top: calc(-280% - 5px); /* 선택 버튼 위에 위치하도록 수정 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬을 위한 보정 */
  z-index: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: center;
}

.genderDropdown button,
.ageDropdown button {
  padding: 0;
  background: none;
  box-shadow: none;
  margin: 0;
}

.genderDropdown button:hover,
.ageDropdown button:hover {
  background-color: #f0f0f0;
  border-radius: 20px;
}
