.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headContainer {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  padding: 8px 16px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.headDropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.headDropdown button {
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 20px);
  margin: 5px 10px;
}

.headDropdown button:hover {
  background-color: #f0f0f0;
}

/* 모바일 화면 */
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .headContainer {
    margin: 10px 0;
  }

  .button {
    width: 100%;
  }

  .headDropdown {
    top: initial;
    left: initial;
    width: 100%;
  }
}