.writeContainer {
  max-width: 800px;
  margin: 0 auto;
}

.writeTitle {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inputField,
.textareaField,
.fileInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.mapIcon {
  font-size: 15px;
  color: rgb(102, 174, 212);
}

.dateIcon {
  font-size: 15px;
  color: rgb(255, 170, 0);

}

.infoIcon {
  font-size: 15px;
  color: #00599e;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.selectBox {
  display: flex;
  justify-content: center;
}

.selectBox button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submitButton {
  background-color: #9cc1e9;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #5b93ce;
  color: white;
}

.imageContainer {
  max-width: 100px;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.textareaField {
  height: 200px;
  resize: vertical;
}


/* 모바일 화면 */
@media screen and (max-width: 767px) {
  .writeContainer {
    padding: 10px;
  }

  .inputField,
  .textareaField,
  .fileInput {
    width: calc(100% - 20px);
    padding: 10p;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    font-size: 16px;



  }

  .buttonBox {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .selectBox {
    display: flex;
    justify-content: center;
  }
}