.writeContainer {
  max-width: 800px;
  margin: 0 auto;
}

.writeTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inputField,
.textareaField,
.fileInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.textareaField::placeholder {
  /* 줄바꿈 처리를 위한 CSS 속성 */
  white-space: pre-line;
}

.textareaField {
  /* 줄간격 늘림 */
  line-height: 1.2;
  resize: none !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.mapIcon {
  font-size: 15px;
  color: rgb(102, 174, 212);
}

.dateIcon {
  font-size: 15px;
  color: rgb(255, 170, 0);
}

.infoIcon {
  font-size: 15px;
  color: #00599e;
}

.plusIcon {
  font-size: 40px;
  color: #919191;
  background-color: rgb(217, 217, 217);
  margin-right: 10px;
}

.delIcon {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden; /* 처음에는 숨김 */
  cursor: pointer;
  font-size: 40px;
}

.imageContainer:hover .delIcon {
  visibility: visible; /* 이미지에 마우스 호버 시 보이도록 함 */
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.selectBox {
  display: flex;
  justify-content: center;
}

.selectBox button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submitButton {
  background-color: #9cc1e9;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #5b93ce;
  color: white;
}

.addPicture {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-right: 10px; /* 이미지 간격 조절 */
  position: relative; /* 상대적인 위치 설정 */
}

.imageContainer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}

.textareaField {
  height: 200px;
  resize: vertical;
}

/* 모바일 화면 */

.writeContainer {
  padding: 20px;
}

.inputField,
.fileInput {
  width: calc(100% - 20px);
  height: 5px;
  margin-bottom: 10px;
  background-color: rgb(244, 244, 244);
  box-shadow: rgba(109, 109, 109, 0.2) 0px 2px 4px;
  border-radius: 30px;
  font-size: 15px;
}

.textareaField {
  width: calc(100% - 20px);
  height: 200px;
  margin-bottom: 10px;
  background-color: rgb(244, 244, 244);
  box-shadow: rgba(109, 109, 109, 0.2) 0px 2px 4px;
  border-radius: 12px;
  font-size: 15px;
  text-decoration: none;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.selectBox {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
}