.KakaoBtn {
  width: 90%;
  background-color: rgb(255, 230, 0);
  box-shadow: rgba(17, 17, 26, 0.2) 0px 2px 4px;
  border-radius: 15px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.KakaoBox {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Icon {
  position: absolute;
  left: 25px;
  font-size: 30px;
}