.text {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgb(100, 100, 100);
  padding: 33px 20px 20px 20px;
}

.container {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.imageBox {
  display: flex;
  justify-content: center;
  width: 300px;
}

.img {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0px 30px 30px 30px;
  width: 200px;
}

.icon {
  animation: flyAnimation 4s infinite linear;
  padding: 15px 5px 15px 5px;
  color: #3f5cff;
  font-size: 1em;
}

@keyframes flyAnimation {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(10px, 6px);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  75% {
    transform: translate(10px, 6px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
