.infoBox {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

.items {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.icon {
  margin-right: 6px;
  color: rgb(107, 106, 106);
  margin-right: 5px;
}

@media screen and (max-width: 320px) {
  .items {
    font-size: 14px;
  }
}

@media screen and (max-width: 290px) {
  .items {
    margin: 0px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 270px) {
  .items {
    font-size: 10px;
  }
}

@media screen and (max-width: 429px) {
  .infoBox {
    align-items: flex-start;
  }

  .items {
    margin: 5px 0;
  }

  .icon {
    margin: 5px 0;
  }
}
