.frame {}

.profileImg {
    width: 100px;
    border-radius: 50%;
    border: 4px solid rgb(68, 179, 70);
}

.idFrame {
    margin: 10px 0px 10px 10px;
}

.idUpdate {
    background-color: rgb(227, 225, 225);
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(95, 94, 94, 0.765);
    margin: 10px 10px 10px 0px;
    padding: 5px 10px;

}

.idUpdateFrame {
    display: flex;
}

.idButton {
    font-size: 30px;
}

.profileId {
    margin-left: 10px;
}

.introUpdate {
    background-color: rgb(227, 225, 225);
    border-radius: 20px;
    min-width: 290px;
    box-shadow: 2px 2px 1px rgba(95, 94, 94, 0.765);
    margin: 10px 10px 10px 10px;
    padding: 5px 10px;
}

.imgUpdateClick {
    color: #ffffff;
    background-color: grey;
    font-size: 25px;
    border-radius: 50%;
}

.userId {
    display: flex;
    margin: 50px 0 0 50px;
}

.introFrame {
    margin: 10px 0px 0 30px;
}

.profileIntro {
    margin-left: 20px;
}

.introUpdateFrame {
    display: flex;
}

.userIntro {
    display: flex;
    margin: 50px 50px;
}

.introButton {
    font-size: 30px;
}


.imgFrame {
    display: flex;
    position: relative;
    width: 100px;
    height: auto;
}

.imgUpdateClick {
    position: absolute;
    right: 5px;
    bottom: 0px;
}

.loginFrame {
    margin-left: 8px;
    margin-top: 30px;
}

.profileLogin {
    margin: 10px 0px 10px 40px;
}

.loginFacebook {
    margin-left: 40px;
    font-size: 40px;
    color: rgb(0, 30, 255);

}

.loginInstagram {
    font-size: 40px;
    color: rgb(226, 43, 177);
}