.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left {
  width: 100px;
}

.right {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
