.profileImg {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid rgb(68, 179, 70);
    margin-top: 15px;
    margin-left: 5px;
}

.profileButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.userFrame {
    display: flex;
}

.chatContextFrame {
    margin: 20px 0px 0px 0px;


}

.chatContext {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    background-color: rgb(219, 218, 218);
    border-radius: 20px;
    padding: 10px;

}

.topFrame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;

}

.bottomFrame {
    display: flex;
    margin-left: 10px;
}

.profileId {
    font-size: 15px;
    margin: 0 10px;
}


.chatTime {
    font-size: 10px;
}

.userChatFrame {
    display: flex;

}

.bottomUserFrame {
    margin: 0 10px;
}

.chatInfo {
    display: flex;
    align-items: flex-end;
}

.infoFrame {
    display: flex;
}

.unreadCount {
    font-size: 10px;
    padding-left: 5px;
    font-weight: bold;
}