.infoMsg {
    border-top: 1px solid rgb(186, 186, 186);
    padding: 10px 0 0 10px;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    color: rgb(154, 154, 154);
    ;

}

.infoFrame {
    margin: 0 10px;
}