.msgButton {
    background-color: rgb(145, 213, 251);
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    height: inherit;
    border-radius: 10px;
    padding: 10px 25px;
    text-decoration: none;


}

.buttonFrame {

    display: flex;
    justify-content: flex-end;
    bottom: 0;
    position: fixed;
    margin-bottom: 60px;
    margin-right: 10px;
    right: 0;

}

.infoMsg {
    border-top: 1px solid rgb(166, 162, 162);
    padding: 10px 0 0 10px;
    text-align: center;
    justify-content: space-between;


}

.link {
    text-decoration: none;
}

.bottomUserFrame {
    margin: 0 10px;

}