.profileImg {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    margin: 10px 5px 5px 5px;
}

.profileButton {
    background: none;
    border: none;
    cursor: pointer;
}

.userFrame {
    display: flex;
    border-bottom: 1px solid rgb(117, 117, 117);
    margin: 0px 20px;
    padding: 5px 0;


}

.chatContextFrame {
    margin: 30px 0px 0px 10px;
    display: flex;

}



.profileId {
    font-size: 20px;
    margin-top: 25px;
}