.checkBox {
    font-size: 28px;
    right: 0;
    position: fixed;
    margin: 20px 40px 0px 0px;


}

.clickCheck {
    animation: checkAnimation 0.1s ease-in-out;
}

@keyframes checkAnimation {

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}