.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.reviewbtn {
    text-align: center;
    background-color: rgb(231, 231, 231);
    border-radius: 25px;
    width: fit-content;
    font-size: 20px;
    padding: 20px 60px;
    margin-top: 80px;
    text-decoration: none;

}

.link {
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;

}