.img {
  width: 90%;
  height: 100%;
  border-radius: 15px;
  -webkit-user-drag: none;
}

.imgBox {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}
