.frame {
    display: flex;
    position: relative;
}

.profileImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgb(0, 187, 0);
    display: flex;


    @media (max-width: 400px) {
        width: 100px;
        height: 100px;
    }


}

.imgUpdateBtn {
    color: #ffffff;
    background-color: grey;
    font-size: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;

    @media (max-width: 400px) {
        font-size: 40px;
    }


}


.deleteBtn {
    font-size: 40px;

    @media (max-width: 400px) {
        font-size: 30px;
    }

}