.mainFrame {
  width: 100px;
}

.frame {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
}

.profileImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
}

.imgUpdateBtn {
  color: #ffffff;
  background-color: grey;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.deleteBtn {
  font-size: 20px;
}
