.introUpdate {
    background-color: rgb(227, 225, 225);
    border-radius: 20px;
    width: 80%;
    box-shadow: 2px 2px 1px rgba(95, 94, 94, 0.765);
    padding: 10px 10px;

    @media (max-width: 390px) {
        width: 80%;
        padding: 10px;
    }

}

.introFrame {
    margin: 20px 0px 0px 30px;

}

.profileIntro {
    margin-left: 20px;
    font-size: 40px;

    @media (max-width: 390px) {
        font-size: 20px;
    }

}

.introBtn {
    font-size: 50px;

    @media (max-width: 390px) {
        font-size: 30px;
    }

}