.introUpdate {
    background-color: rgb(227, 225, 225);
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(95, 94, 94, 0.765);

    width: 100%;


}



.introFrame {
    margin: 40px 0px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profileIntro {
    margin-left: 20px;
    font-size: 40px;

    @media (max-width: 390px) {
        font-size: 20px;
    }

}

.introBtn {
    font-size: 50px;

    @media (max-width: 390px) {
        font-size: 30px;
    }

}