.introUpdate {
  background-color: rgb(241, 240, 240);
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 1px rgba(148, 148, 148, 0.765);
  width: 100%;
  height: 100%;
}

.introFrame {
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profileIntro {
  width: 100%;
  font-size: 20px;
}

.profileIntroTitle {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 700;
}

.profileIntroBox {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 8px;
}
