.userProfile{
    margin-top: 80px;
}

.profileInfor{
    display: flex;
    justify-content: center;

}

.profileInforDetail{
    margin-top: 50px;
    margin-left: 30px;
}

.profilePic{
    width: 150px;
}

.profilePic2{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 50%;
}

.profileAgeGender{
    margin-top: 12px;
    display: flex;
    justify-content: left;
}

.profileAge{
    display: inline;
}

.profileGender{
    display: inline;
    margin-left: 8px;
}

.profileDescrip{
    text-align: left;
    margin: 15px 20% 15px 20%;

}

.profile_button{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
}

.profile_modify_icon{
    width: 20px;
}

.profile_modify_text{
    margin-left: 5px;
}

.profile_modify{
    display: flex;
    justify-content: center;
    padding: 5px 60px 15px 60px;
}