.tapBarBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tapButtons {
  display: flex;
  justify-content: center;
  width: 90%;
}

.tapButtons button {
  cursor: pointer;
}

.activeTab {
  font-weight: 700;
  border-bottom: 1px solid rgb(109, 109, 109);
  color: black;
  border-radius: 2%;
}

.button {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  width: 30%;
  height: 100%;
}

.tapFalse {
  color: grey;
}
