.postContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.post {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postContent {
  position: relative;
  display: inline-block;
  width: 49%;
  margin-bottom: 5px;
}

.postContentPic {
  cursor: pointer;
  width: 100%;
  border-radius: 5%;
  height: 189.625px;
}

.IconBox {
  height: 20px;
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 3px;
  margin: 0 3px;
}

.Icon {
  font-size: 20px;
  color: rgb(107, 106, 106);
}

.iocation {
  font-size: 12px;
  /* padding: 2px 3px 2px 3px; */
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 0 10px 0 3px;
}
