.postContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.post {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postContent {
  position: relative;
  display: inline-block;
  width: 49%;
  margin-bottom: 5px;
}

.postContentPic {
  cursor: pointer;
  width: 100%;
  border-radius: 5%;
  height: 110px;
}

.IconBox {
  width: 70px;
  height: 20px;
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 5px 0px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.Icon {
  font-size: 23px;
  color: rgb(107, 106, 106);
}

.IconText {
  font-size: 16px;
  padding-top: 2px;
  font-weight: 700;
}
