.notificationsContainer {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0 10px;

}

.notificationContainer {
    display: flex;
    align-items: center;
    height: 50px;
}

.notification {

    flex: 1;
    font-size: 15px;
    color: #333;
    margin-left: 5px;
}

.smallText {

    font-size: 12px;
    color: #888;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;

}

.iconStyle {
    font-size: 20px;
    padding: 0 2px;
}

.requestIcon {
    color: rgb(59, 134, 255);
}

.reviewIcon {
    color: rgb(0, 227, 227);
}