.notificationsContainer {
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.notificationContainer {
    display: flex;
    align-items: center;

    height: 50px;
}

.notification {

    flex: 1;
    font-size: 16px;
    color: #333;
}

.smallText {

    font-size: 12px;
    color: #888;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;

}

.iconStyle {
    font-size: 20px;
    padding: 0 2px;
}

.requestIcon {
    color: rgb(59, 134, 255);
}

.reviewIcon {
    color: rgb(0, 227, 227);
}